@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap {
  outline: none;
  min-height: 100%;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #bbb;
  pointer-events: none;
  height: 0;
}